$text-align: center;

body {
    text-align: $text-align;
}

.clock-face {     
    display: flex;    
    justify-content: center;    
}

.input-fields{
    margin: 0 0 15px 0;
    display: inline-block;
}